<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Map</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
    <style>
        #map { width: 100%; height: 500px; }
    </style>
</head>
<body style="text-align:center">
    <h1>Route Map</h1>
    <p>Distance: {{ distance | round(2) }} km</p>
    <p>Estimated Time: {{ duration | round(2) }} minutes</p>
    
    <div id="map"></div>

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
    <script>
        mapboxgl.accessToken = '{{ access_token }}';
        
        const routeGeoJSON = JSON.parse('{{ route|tojson|safe }}');
        const userCoordinates = JSON.parse('{{ user_coordinates|tojson|safe }}');

        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: userCoordinates[0],
            zoom: 7
        });

        userCoordinates.forEach(function(coord) {
            new mapboxgl.Marker()
                .setLngLat(coord)
                .addTo(map);
        });

        map.on('load', function() {
            map.addSource('route', {
                type: 'geojson',
                data: routeGeoJSON
            });
            map.addLayer({
                id: 'route',
                type: 'line',
                source: 'route',
                paint: {
                    'line-color': '#007cbf',
                    'line-width': 5
                }
            });
        });
    </script>
</body>
</html>
